/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main form .form .email, main form .form .password2, main form .form .acceder {
  margin: 1rem; }

/* estilos de body */
body {
  background-color: #8BC6EC;
  background-image: linear-gradient(270deg, #8BC6EC 0%, #0b1c20 100%); }

header {
  text-align: center;
  margin: 0px;
  padding: 0px; }
  header .logo {
    width: 200px;
    margin-top: 5px; }
  header nav ul li {
    font-family: "Bebas Neue";
    color: black;
    display: flex;
    justify-content: center;
    display: inline-block;
    padding: 1rem; }
    header nav ul li a {
      text-decoration: none;
      display: inline-block;
      text-align: center;
      color: black; }
    header nav ul li a:hover {
      color: black; }

/* estilos del main */
main .contenedor-search {
  display: flex;
  justify-content: center;
  font-size: small; }

main div h1 {
  font-family: "Bebas Neue";
  color: black;
  display: flex;
  justify-content: center; }

main .container {
  display: flex;
  justify-content: center; }

.img1, .img2, .img3, .img4 {
  height: 200px; }

section div {
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 3rem; }

/* estilos de footer */
footer img {
  margin-left: 20px;
  width: 40px; }

footer div {
  display: flex;
  justify-content: center; }
  footer div a img {
    margin-top: 20px;
    font-family: "Bebas Neue";
    color: black; }
  footer div a .logo-facebook {
    margin: 13px;
    height: 3.3rem;
    width: 3.3rem; }

footer div p {
  font-family: "Bebas Neue";
  color: black;
  display: flex;
  justify-content: center; }

/* ESTILOS PAGE SHOP */
/* estilos header, cards shop */
main .card {
  margin: 1rem;
  background-color: #dedede; }

main .cards-shop {
  display: grid;
  justify-content: center; }
  main .cards-shop .btn-primary {
    display: flex;
    justify-content: center; }

/* ESTILOS PAGE NOSOTROS */
/* estilos main */
main div h1 {
  font-family: "Bebas Neue";
  color: black;
  margin-top: 20px;
  margin-bottom: 20px; }

main .div1 p {
  font-family: "Bebas Neue";
  color: black;
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 1rem;
  margin-top: 4rem; }
  main .div1 p span .enlace-harry-potter {
    color: white;
    text-decoration: none; }
    main .div1 p span .enlace-harry-potter:hover {
      color: black;
      transition: all 1s cubic-bezier(0.4, 1, 0.4, 7); }

main div .img-nosotros {
  display: grid;
  justify-content: right;
  margin-left: auto;
  margin-right: auto;
  height: 300px; }

/* ESTILOS PAGE CONTACTO */
/* estilos main */
main div h1 {
  font-family: "Bebas Neue";
  color: black;
  display: flex;
  justify-content: center; }

main .container-1 {
  display: grid;
  justify-content: center; }
  main .container-1 form {
    font-family: "Bebas Neue";
    color: black;
    text-align: center; }
    main .container-1 form .nombre, main .container-1 form .telefono, main .container-1 form .mail {
      font-family: 'Bebas Neue', cursive;
      margin: 10px; }
  main .container-1 .textarea {
    margin: 10px; }
  main .container-1 .boton-enviar {
    display: flex;
    justify-content: center; }

/* ESTILOS PAGE LOGIN */
/* estilos main */
main form h1 {
  font-family: "Bebas Neue";
  color: black;
  display: flex;
  justify-content: center; }

main form .form {
  font-family: "Bebas Neue";
  color: black;
  margin: 10px;
  text-align: center; }
  main form .form .registro {
    margin: 0.1rem; }

/* MQ */
@media screen and (min-width: 1024px) {
  header .logo {
    width: 25rem; }
  nav ul li a {
    font-size: 2rem; }
    nav ul li a:hover {
      transform: scale(0.9);
      color: black;
      text-decoration: overline underline; }
  section div {
    height: 31rem; }
  .contenedor-logos {
    display: flex;
    justify-content: right; }
  footer .contenedor-logos a:hover {
    transform: scale(0.9); }
  main .container .img1, main .container .img2, main .container .img3, main .container .img4 {
    height: 400px; }
  section div .imagen-casas:hover {
    animation-name: img-latido;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-direction: alternate-reverse;
    box-shadow: 4rem black; }
  @keyframes img-latido {
    0% {
      transform: scale(1.09); } }
  /* MQ page shop */
  main {
    /* MQ page nosotros */ }
    main .card {
      margin: 1rem; }
    main .cards-shop .cards-1 {
      display: flex;
      justify-content: center; }
    main .cards-2 {
      display: flex;
      justify-content: center; }
    main .nosotros {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 0px; }
    main .div1 {
      grid-area: 1 / 1 / 2 / 2;
      margin-top: 20px;
      margin-left: 20px; }
      main .div1 .parrafo-nosotros {
        font-size: x-large; }
    main .div2 {
      grid-area: 1 / 2 / 2 / 3; } }
